@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom-width: 2px;
  border-color: rgb(100 116 139);
  -webkit-text-fill-color: rgb(229 216 255);
  -webkit-box-shadow: 0 0 0px 1000px rgb(20 16 30) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  border-color: rgb(103 71 227);
}

.moving-planet {
  bottom: 0px;
  right: 20%;
  animation: moving 10s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes moving {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0, -400%, 0px);
  }
}

@layer components {
  html {
    @apply bg-bg-500 font-roboto;
  }

  .gx-btn {
    @apply px-2 py-1 rounded-md cursor-pointer text-purplish-300 from-gx-blue-500 to-gx-purple-500 bg-gradient-to-r hover:hue-rotate-15;
  }

  img {
    position: relative;
  }

  img[alt]:after {
    @apply absolute inset-0 block text-center text-white border-none outline-none bg-gx-purple-700;

    content: attr(alt);
  }
}

@layer utilities {
  .mosaic {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
    grid-auto-rows: 10px;
  }

  .loading-ball-one {
    animation-delay: 0.1s;
  }

  .loading-ball-two {
    animation-delay: 0.2s;
  }

  .loading-ball-three {
    animation-delay: 0.3s;
  }
}
